In [1]:
import requests
import pandas as pd

In [2]:
base_url = 'https://python.zgulde.net'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [3]:
response = requests.get('https://python.zgulde.net/api/v1/items')

In [4]:
data = response.json()

In [5]:
data.keys()

dict_keys(['payload', 'status'])

In [6]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [7]:
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 3
next_page: /api/v1/items?page=2

In [8]:
data['payload']['items'][:2]

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'}]

In [9]:
df = pd.DataFrame(data['payload']['items'])
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [10]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

df = pd.concat([df, pd.DataFrame(data['payload']['items'])]).reset_index()

current_page: 2
max_page: 3
next_page: /api/v1/items?page=3

In [11]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

df = pd.concat([df, pd.DataFrame(data['payload']['items'])]).reset_index()

current_page: 3
max_page: 3
next_page: None

In [12]:
df.shape

(50, 8)

In [13]:
items = df

In [14]:
response = requests.get('https://python.zgulde.net/api/v1/stores')

In [15]:
data = response.json()

In [16]:
data.keys()

dict_keys(['payload', 'status'])

In [17]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [18]:
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 1
next_page: None

In [19]:
stores = pd.DataFrame(data['payload']['stores'])

In [20]:
stores.shape

(10, 5)

In [21]:
response = requests.get('https://python.zgulde.net/api/v1/sales')

In [22]:
data = response.json()

In [23]:
data.keys()

dict_keys(['payload', 'status'])

In [24]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [25]:
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 183
next_page: /api/v1/sales?page=2

In [75]:
df = pd.DataFrame(data['payload']['sales'])
df.head()

   item  sale_amount                      sale_date  sale_id  store
0    50         77.0  Wed, 15 Oct 2014 00:00:00 GMT   910001      9
1    50         52.0  Thu, 16 Oct 2014 00:00:00 GMT   910002      9
2    50         65.0  Fri, 17 Oct 2014 00:00:00 GMT   910003      9
3    50         66.0  Sat, 18 Oct 2014 00:00:00 GMT   910004      9
4    50         81.0  Sun, 19 Oct 2014 00:00:00 GMT   910005      9

In [76]:
df.shape

(3000, 5)

In [77]:
for i in range(1,184):
    point = f'/api/v1/sales?page={i}'
    response = requests.get(base_url + point)
    data = response.json()

    current_page = data['payload']['page']
    max_page = data['payload']['max_page']
    next_page = data['payload']['next_page']
    

    df = pd.concat([df, pd.DataFrame(data['payload']['sales'])])

In [ ]:
for i in range(1,184):
    endpoint = str(i)
    response = requests.get(
        base_url+endpoint).json()['payload']['sales']
    print(f'Getting page {endpoint} of 183', end='')
    sales.extend(response)

In [78]:
df.shape

(916000, 5)

In [79]:
sales = df

In [80]:
sales.item.nunique()

50

In [83]:
sales.item.value_counts()

50    21260
37    18260
27    18260
28    18260
29    18260
30    18260
31    18260
32    18260
33    18260
34    18260
35    18260
36    18260
38    18260
1     18260
39    18260
40    18260
41    18260
42    18260
43    18260
44    18260
45    18260
46    18260
47    18260
48    18260
26    18260
25    18260
24    18260
23    18260
2     18260
3     18260
4     18260
5     18260
6     18260
7     18260
8     18260
9     18260
10    18260
11    18260
12    18260
13    18260
14    18260
15    18260
16    18260
17    18260
18    18260
19    18260
20    18260
21    18260
22    18260
49    18260
Name: item, dtype: int64

In [81]:
items.to_csv('items_csv')
stores.to_csv('stores_csv')
sales.to_csv('sales_csv')

In [82]:
print(items.shape)
print(stores.shape)
print(sales.shape)

(50, 8)
(10, 6)
(916000, 5)

In [ ]:
sales = sales.rename(columns={'item': 'item_id', 'store': 'store_id'})

In [68]:
df = pd.merge(sales, items, how='left', on='item_id')

In [ ]:
df = pd.merge(df, stores, how='left', on='store_id')

In [51]:
sales = sales.reset_index()

In [55]:
stores.head()

,index,store_address,store_city,store_id,store_state,store_zipcode
0,0,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,9255 FM 471 West,San Antonio,2,TX,78251
2,2,2118 Fredericksburg Rdj,San Antonio,3,TX,78201
3,3,516 S Flores St,San Antonio,4,TX,78204
4,4,1520 Austin Hwy,San Antonio,5,TX,78218

In [63]:
items['index'] = items.index.astype('int')

In [65]:
items.head()

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [67]:
df = sales.merge(items, how='left', on='index')
df.head

<bound method NDFrame.head of         index  item  sale_amount                      sale_date  sale_id  \
0           0     2         61.0  Sat, 07 Oct 2017 00:00:00 GMT    20001
1           1     2         60.0  Sun, 08 Oct 2017 00:00:00 GMT    20002
2           2     2         46.0  Mon, 09 Oct 2017 00:00:00 GMT    20003
3           3     2         52.0  Tue, 10 Oct 2017 00:00:00 GMT    20004
4           4     2         55.0  Wed, 11 Oct 2017 00:00:00 GMT    20005
...       ...   ...          ...                            ...      ...
909995   4995    50         70.0  Fri, 10 Oct 2014 00:00:00 GMT   909996
909996   4996    50         75.0  Sat, 11 Oct 2014 00:00:00 GMT   909997
909997   4997    50         69.0  Sun, 12 Oct 2014 00:00:00 GMT   909998
909998   4998    50         55.0  Mon, 13 Oct 2014 00:00:00 GMT   909999
909999   4999    50         69.0  Tue, 14 Oct 2014 00:00:00 GMT   910000

        store  level_0      item_brand  item_id  \
0           1      0.0        Riceland      1.0
1           1      1.0          Caress      2.0
2           1      2.0     Earths Best      3.0
3           1      3.0      Boars Head      4.0
4           1      4.0  Back To Nature      5.0
...       ...      ...             ...      ...
909995      9      NaN             NaN      NaN
909996      9      NaN             NaN      NaN
909997      9      NaN             NaN      NaN
909998      9      NaN             NaN      NaN
909999      9      NaN             NaN      NaN

                                                item_name  item_price  \
0                          Riceland American Jazmine Rice        0.84
1       Caress Velvet Bliss Ultra Silkening Beauty Bar...        6.44
2       Earths Best Organic Fruit Yogurt Smoothie Mixe...        2.43
3        Boars Head Sliced White American Cheese - 120 Ct        3.14
4       Back To Nature Gluten Free White Cheddar Rice ...        2.61
...                                                   ...         ...
909995                                                NaN         NaN
909996                                                NaN         NaN
909997                                                NaN         NaN
909998                                                NaN         NaN
909999                                                NaN         NaN

          item_upc12    item_upc14
0        35200264013   35200264013
1        11111065925   11111065925
2        23923330139   23923330139
3       208528800007  208528800007
4       759283100036  759283100036
...              ...           ...
909995           NaN           NaN
909996           NaN           NaN
909997           NaN           NaN
909998           NaN           NaN
909999           NaN           NaN

[910000 rows x 13 columns]>

In [35]:
response = requests.get('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [40]:
data = response.text